# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


# JANGAN GUNAKAN *.json karena akan menghapus package.json!

# Abaikan hanya file kunci akses Google Cloud (Keamanan)
warga-pintar-*.json

# Pastikan file konfigurasi Firebase terdeteksi oleh Git agar bisa diupload ke EAS
!google-services.json
google-services.json